﻿@model Gissa_Hemliga_Talet.Models.SecretNumber

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SessionTimedOut</title>

</head>
<body style="background-color:#e3d7aa;">
    <div>
        <h2 style="margin-left: 15%; margin-top: 50px;"> Gissa det hemliga talet</h2>

        <div class="border" style="background-color: steelblue; width: 50%; margin-left: 15%; border-radius: 12px; height: 25px; margin-top: 2%; margin-bottom: 5%;"></div>
        <h2 style="color:red; margin-left: 25%;">Spelomgången kunde tyvärr inte fullföljas</h2>
        <p style="margin-left: 25%;"> <strong>Du tog för lång tid på dig, börja om från början!</strong></p>

        <div class="border" style="background-color: steelblue; width: 50%; margin-left: 15%; border-radius: 12px; height: 25px; margin-top: 5%; margin-bottom: 3%;"></div>
        <a style="margin-left:15%;" href="~/Home/Index">Klicka för att starta om!</a>


    </div>
    <div class="container" style="width: 100%; margin-top: 10%;  ">

        <div class="footer" style="margin-top: 50px; width:50%;border-width: 250px; border-top: 2px solid black; margin-bottom: 2%; margin-left: 15%;"> © 2015 - Gissa det hemliga talet-MVC Edition <br /> Stefan Ingesson</div>
    </div>
</body>
</html>